<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:jwttestkitLayout.json"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="io.github.rjaros87" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
